<app-navbar></app-navbar>
<div align="center">
    <h1>Login</h1>
    <h3>{{ form.message }}</h3>
    <table>
        <tr>
            <th>Login Id: </th>
            <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId"/></td>
        </tr>
        <tr>
            <th>Password: </th>
            <td><input type="text" [(ngModel)]="form.data.password"/></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button (click)="signIn()">signIn</button> &nbsp;
                <button (click)="signUp()">signUp</button> &nbsp;
            </td>
        </tr>
    </table>
</div>
