<app-navbar></app-navbar>
<div align="center">
    <h1>User Registration</h1>
    <h3>{{ form.message}}</h3>
    <table>
        <tr>
            <th>First Name: </th>
            <td><input type='text' name='firstName' [(ngModel)]="form.data.firstName"/></td>
            <td *ngIf="form.inputerror.firstName != null" style="position: fixed;">
                <font color="red">{{form.inputerror.firstName}}</font>
        </tr>
        <tr>
            <th>Last Name: </th>
            <td><input type='text' name='lastName' [(ngModel)]="form.data.lastName"/></td>
            <td *ngIf="form.inputerror.lastName != null" style="position: fixed;">
                <font color="red">{{form.inputerror.lastName}}</font>
        </tr>
        <tr>
            <th>LoginId: </th>
            <td><input type='text' name='LoginId' [(ngModel)]="form.data.loginId"/></td>
            <td *ngIf="form.inputerror.loginId != null" style="position: fixed;">
                <font color="red">{{form.inputerror.loginId}}</font>
        </tr>
        <tr>
            <th>Password: </th>
            <td><input type='text' name='password' [(ngModel)]="form.data.password"/></td>
            <td *ngIf="form.inputerror.password != null" style="position: fixed;">
                <font color="red">{{form.inputerror.password}}</font>
        </tr>
        <tr>
            <th>DOB: </th>
            <td><input type="date" name="dob" [(ngModel)]="form.data.dob" style="width: 97%;" /></td>
            <td *ngIf="form.inputerror.dob != null" style="position: fixed;">
                <font color="red"> {{form.inputerror.dob}}</font>
        </tr>
        <tr>
            <th></th>
                <td><button (click)="signUp()">signUp</button></td>
        </tr>
    </table>
</div>
